

body {
    width: 100%;
    background-image: url('img/pexels-gdtography-950241.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-color: #fff; /* Fallback background color */
}

.containter {
    max-width: 1200px;
    width: 95%;
    
}

/*header,box,list*/
#header {

    display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 5px;
background: whitesmoke ;                       
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
position: sticky;
top: 0;
left: 0;
z-index: 999;
}


/*Make logo smaller */
#header .logo {
    width: 350px; 
}
/*makes list be in the same line*/
#navbar{
    display: flex;
    align-items: center; 
    justify-content: center;

}

#navbar li {
    list-style: none;  /* no bulletpoints*/
     padding: 10px 40px;          /* how close-apart the list is*/
     position: relative; /* so there's an underline on list(and not somewhere else on the website) */
 }
 #navbar li a {
    text-decoration: none; 
   font-size: 18px; /* list modification(big,small) */
   font-weight: 600 ;          /* boldness of list */
   color: black;
   transition: 0.3s ease;
}
/*indicate front page*/
#navbar li a:hover, 
#navbar li.glow,
#navbar li a.glow {           
    color: rgb(177, 176, 176);

}

.left{
    margin-left: -5px;
}

#navbar li.glow::after{
    content:"" ;
    width: 65%;
    height: 2px;
    background:grey ;            /* underline modification*/
    position: absolute;
    bottom: -4px;
    right: 27px; 
}
#navbar li a.glow::after,
#navbar li a:hover::after {    /*underline to other lists*/
content:"" ;
width: 65%;
height: 2px;
background:grey ;            /* underline modification*/
position: absolute;
bottom: -4px;
right: 22px;
}
#navbar li a.none:hover::after {    
    display: none;
    }

#navbar ul li a {
    text-decoration: none;
    font-size: 15px;
    margin-left:-40px ;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
.header-top{
    position: relative;
    
}
.header-top ul {
    position: absolute;
    left: -.5em;
    top: 40px;
    line-height: 2em;
    background-color: #f0f1f7d2;
    border: 1px solid black;
  display: none;
    padding: 0 1px;
   width: 200px;
   max-width: 400px;
   border-radius: 10px;
}
.header-top .right ul li.size  {
    font-size: 18px; 
}
.header-top .right ul a {
  padding: 0 10px;
}
#navbar li.left  {
    font-size: 18px; 
    font-weight: 600; 
    color: black; 
    text-decoration: none; 
    transition: color 0.2s ease; 
}
#navbar li.left .icon-small {
    margin-left: 5px; 
}
#navbar li.left:hover {
    color: rgb(177, 176, 176); 
}
.header-top .right ul li.current a{
    background-color: black;
}
.header-top li:hover ul{
   display: block;
}

#navbar li.left ul li a:hover::after {
    width: 0; /* Make the underline disappear on hover inside box of about us*/
}

.title{
    font-size: 2.25rem;
    text-align: center;
}
.subtitle{
    margin-bottom: 3rem;
    text-align: center;
}
.subtitle span {
    color: orangered;
}

.header-top1{
    position: relative;
}

.header-top1 ul {
    position: absolute;
    left: 1.3em;
    top: 40px;
    line-height: 2em;
    background-color: #f0f1f7d2;
    border: 1px solid black;
  display: none;
    padding: 0 1px;
   width: 120px;
   max-width: 200px;
   border-radius: 10px;
}
.header-top1 .right1 ul li.size  {
    font-size: 18px; 
}
.header-top1 .right1 ul a {
  padding: 0 10px;
}
#navbar li.left1 {
    font-size: 18px; 
    font-weight: 600; 
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    transition: color 0.2s ease; 
}
#navbar li.left1 .icon-small1 {
    margin-left: 5px; 
}
#navbar li.left1:hover {
    color: rgb(177, 176, 176); 
}

.header-top1 li:hover ul{
   display: block;
}

#navbar li.left1 ul li a:hover::after {
    width: 0; /* Make the underline disappear on hover inside box of about us*/
}

#cart-icon{
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
}
#cart-icon[data-quantity="0"]::after{
    contain: '';
}
#cart-icon[data-quantity]::after{
    content: attr(data-quantity);
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: #512da8;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    position: fixed;
    top: 130px;
    right: -100%;
    z-index: 9;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: black ;
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cart.active{
    right: 0;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: white;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #512da8;
}
.total-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    color: white;
}
.total-price{
    font-size: 1.075rem;
    margin: 1rem 0 0 0.7;
    color: white;
    padding: 17px;
}
.btn-buy{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background:#512da8 ;
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #512da8 ;
    cursor: pointer;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}
.cart-price{
    font-weight: 500;
    color: white;
}
.cart-quantity{
    border: 1px solid #512da8;
    outline-color: rgb(102, 252, 127);
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
}
.cart-remove{
    font-size: 24px;
    color:orangered ;
    cursor: pointer;
}







/* slideshow adjustment*/
.slider{
    width: 800px;
    height: 450px;
    border-radius: 10px;
   overflow: hidden;
   margin: 0 auto;
   margin-top: 40px;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide img{
    width: 800px;
     height: 700px;
 
 }
.slides input{
    display: none;
}
.slide{
    flex: 20%;
    transition: 2s;
}

/*css for manuel slide navigation*/

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -80px;
display: flex;
justify-content: center;
z-index: 1;
}
.manual-btn{
border: 2px solid turquoise;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 0.5s;
}
.manual-btn:not(:last-child){
margin-right: 30px;
}
.manual-btn:hover{
    background: black ;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

/*css for automatic navigator for javascript*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 420px;
    z-index: 1;
}
.navigation-auto div{
    border: 2px solid turquoise;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}
.navigation-auto div:not(:last-child){
    margin-right: 30px ;
    
}
#radio1:checked ~ .navigation-auto .auto-btn1{
background: black;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
     background: black;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: black
}
#radio4:checked ~ .navigation-auto .auto-btn4{
background: black;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
background: black;
}



/*makes image no.1 and no.2 in same line*/
.sameline{  
   display:flex; 
   margin-top: 40px;                             
}

/*makes a box1 and bx for image 1 and 2 to be in */
.box1{
   
    border: 4px solid black;
    border-radius: 4px;                                     
    margin: 0px 0px;
    padding: 21%;
    background-color: transparent;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
  overflow: hidden;
}
.bx{
   
    border: 4px solid black;
    border-radius: 4px;                                     
    margin: 0px 0px;
    padding: 21%;
    background-color: transparent;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
  overflow: hidden;
}


#frontpage1 , #frontpage2{
    width: 50%;
    height: 48vh;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    background-size: cover;
}
#frontpage1{
    background-image: url(img/image4.jpg)  ; 
    background-position: 0px -50px;
}
#frontpage2{
    background-image: url(img/d1.jpg);
    background-position: 0px -280px;
}
 

/*h1 modification*/
#frontpage1 h1 {
   color: #00198b;
    text-align: center;
   margin-right: -65%;
          margin-top: -35%;       
    font-size: 40px; 
}
 /*p modification*/   
#frontpage1 p {
    color: #00198b;
    text-align: center;
     margin-right: -65%;      
     font-size: 18px;                     
}
/*button modification*/
#frontpage1 button {
  border-radius: 30px;
  border: 0;
  background-color: rgb(214, 228, 17);
padding: 10px 10px 10px 10px;
cursor: pointer;
font-weight: 700;
font-size: 15px;
margin-left: 75%;
display: block;
margin-top: 5%;
transition: 0.3s
}
#frontpage1 button:hover{
    transform: scale(1.05);
   
}
#frontpage1 button a{
    display: inline-block;
    text-decoration: none;
    color: rgb(48, 46, 46);
    transition:  0.2s;
    cursor: pointer;
}
#frontpage1 button:hover a{
    color: rgb(73, 170, 138);
}

.sameline2 {
    display: flex;
    margin-top: 40px;
}
/*makes a box2 and bx1 for image 3 and 4 to be in */
.box2{
   
    border: 4px solid black;
    border-radius: 4px;                                     
    margin: 0px 0px;
    padding: 20.5%;
    background-color: transparent;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
  overflow: hidden;
}


.bx1{
   
    border: 4px solid black;
    border-radius: 4px;                                     
    margin: 0px 0px;
    padding: 20.5%;
    background-color: transparent;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
  overflow: hidden;
}


#frontpage3 , #frontpage4{
    width: 50%;
    height: 47vh;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    background-size: cover;
    margin: 0;
}
#frontpage3{
    background-image: url(img/s2.jpg)  ; 
    background-position: 0px -50px;
    
}
#frontpage4{
    background-image: url(img/s1.jpg);
    background-position: 0px 0px;
}
 /*h1 modification*/
#frontpage3 h1 {
    color: black;
     text-align: center;
    margin-right: -65%;
  margin-top: -35%;       
     font-size: 40px;
     font-weight: 500; 
 }
#frontpage3 h2{
    color: black;
    text-align: center;
   margin-right: -65%;   
    font-size: 40px;
    font-weight: 500; 
}
#frontpage3 h3{
    color: black;
    text-align: center;
   margin-right: -65%;  
   margin-top: -30px;    
    font-size: 40px;
    font-weight: 500; 
}
#frontpage3 button  {
    padding: 15px 15px 15px 15px;
 border: 0;
border-radius: 25px;
background-color: #e6e6b6;
margin-top: -100px;
margin-right: 30rem;
transition: 0.2s;
}
#frontpage3 button:hover{
    transform: scale(1.05);
    background-color: #e6e6b6ea;
}

#frontpage3  button a.dono-link{
    text-decoration: none;
    display: inline-block;
    color:rgb(48, 46, 46);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

#frontpage4  button:hover a.dono-link{
    color: rgb(91, 165, 42);
}

/*h1 modification*/
#frontpage4 h1 {
   color: #ff08de;
    text-align: center;
 margin-top: -35%;       
    font-size: 40px; 
}
 /*p modification*/   
#frontpage4 p {
    color: whitesmoke;
    text-align: center;
     margin-right: -2%;  
     margin-top: 40px;    
     font-size: 18px;                     
}
/*button modification*/
#frontpage4 button  {
    padding: 15px 15px 15px 15px;
 border: 0;
border-radius: 25px;
background-color: #e6e6b6;
margin-top: 30px;
transition: 0.2s;
}
#frontpage4 button:hover{
    transform: scale(1.05);
    background-color: #e6e6b6ea;
}

#frontpage4  button a.dono-link{
    text-decoration: none;
    display: inline-block;
    color:rgb(48, 46, 46);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
#frontpage4  button:hover a.dono-link{
    color: brown;
}


#features{
    text-align: center;
    border: 3px solid black;                                /*moves h1 and p center and makes a background*/                                                        
    border-radius: 3px;
   background-image: linear-gradient(-25deg ,rgb(248, 235, 164)  ,white,rgb(255, 241, 162));
   
}
.section-p1{
    padding: 20px 80px;
    background: rgb(255, 255, 255);
    margin-top: 40px;
}
#features h1{
    font-size: 50px;
}
#features p {
    font-size: 20px;
}
.color-content{
    margin-top: 20px;
}
 
.color-group{
padding :0px 50px;
 display: flex;
 flex-direction: row;
margin-left: 45px;
 
}
.color{
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
   
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.color-black{
    background-color: black;      
 
}
.color-grey{
    background-color: grey;
}
.color-white{
    background-color: white;
}
.color-blue{
    background-color: lightskyblue;
}
.color:hover{
   transform: scale(1.2);
}


#features .container{
    padding: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#features .larger .newimg{
    width: 180px;
}
#features .newimg{
        width: 150px;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        transition: 0.2s;
}
#features .title1 {
    font-size:2rem ;
    text-align: center;
}

#features .newcontent{
    position: relative;
    background-color: rgb(223, 223, 223);
    padding: 2rem 0;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2rem;
}
@media (min-width: 800px) {
    #features .newcontent {
        width: calc(30% - 1rem); /* How many images in that row*/
    }
}
#features .newtag{
        position: absolute;
        top: 8%;
        left: 8%;
        background-color: orangered ;
        color: #fff;
        font-size: .875rem;
        padding: .25rem .5rem;
        border-radius: .25rem;
}
#features .newsubtitle{
        display: block;
        font-size: .875rem;
        margin-bottom: 1rem;
}
#features .newprices{
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
}
#features .newprice{
    font-weight: 500;
    color: hsl(260, 3%, 18%);
}
#features .newdiscount{
        color: orangered;
        font-size: .813rem;
        text-decoration: line-through;
        font-weight: 500;
}
#features .newbutton{
        color: white;
        display: inline-flex;
        padding: .5rem;
        border-radius: .25rem .25rem .75rem .25rem;
        height: 20px;
        background-color: orangered;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        right: -3rem;
        transition: 0.2s;
}
#features .newcontent:hover .newimg{
        transform: translateY(-.5rem);
}
#features .newcontent:hover .newbutton{
        right: 0;
}

#features .newcontent .review{
    margin-bottom: 15px;
}
#features  .color-group{
    padding: 0 70px;
}


 .m1{
    margin :70px 0;
}
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center ;
    background-image:url(img/pexels-suzy-hazelwood-1629236.jpg) ;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position:center ;
}
#banner h2{
    color: #ffffff;
    font-size: 40px;
    padding: 10px 0;
}
#banner h2 span{
    color: orangered;
}
#banner button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#banner button:hover{
    background-color: rgba(223, 223, 223, 0.836);
    transform: scale(1.05);
}


#arrival .container{
    padding: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#arrival .smaller .newimg{
    width: 120px;
}
#arrival .newimg{
        width: 150px;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        transition: 0.2s;
}
#arrival .title1 {
    font-size:2rem ;
    text-align: center;
}
#arrival .title {
    font-size:1.5rem ;
    text-align: center;
}
#arrival .newcontent{
    position: relative;
    background-color: beige;
    padding: 2rem 0;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2rem;
}
@media (min-width: 800px) {
    #arrival .newcontent {
        width: calc(30% - 1rem); /* How many images in that row*/
    }
}
#arrival .newtag{
        position: absolute;
        top: 8%;
        left: 8%;
        background-color: orangered ;
        color: #fff;
        font-size: .875rem;
        padding: .25rem .5rem;
        border-radius: .25rem;
}
#arrival .newsubtitle{
        display: block;
        font-size: .875rem;
        margin-bottom: 1rem;
}
#arrival .newprices{
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
}
#arrival .newprice{
    font-weight: 500;
    color: hsl(260, 3%, 18%);
}
#arrival .newdiscount{
        color: orangered;
        font-size: .813rem;
        text-decoration: line-through;
        font-weight: 500;
}
#arrival .newbutton{
        color: white;
        display: inline-flex;
        padding: .5rem;
        border-radius: .25rem .25rem .75rem .25rem;
        height: 20px;
        background-color: orangered;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        right: -3rem;
        transition: 0.2s;
}
#arrival .newcontent:hover .newimg{
        transform: translateY(-.5rem);
}
#arrival .newcontent:hover .newbutton{
        right: 0;
}

#arrival .newcontent .review{
    margin-bottom: 15px;
}
#arrival  .color-group{
    padding: 0 90px;
}




.section-p2{
    padding: 20px 60px;
    background: white;
    margin-top: 40px;
}

footer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

footer .col{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom:20px ;
}

footer .logo{
    width:50%;
    text-align: left;
    
}
footer .coldownload img{
    width: 200px; 
    border: 0.5px solid black ; 
    border-radius: 6px;
}
footer h4{
    font-size: 19px;
    margin-top: 24px;
}
footer a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    margin-bottom: 15px;
}
footer a:hover{
    color: black;
    transform: scale(1.05);
}
footer .follow i{
padding-right: 4px;
cursor: pointer;
}
footer .follow .icon a:nth-child(1){
color: #00198b;
}
footer .follow .icon a:nth-child(2){
    color: lightskyblue;
}
footer .follow .icon a:nth-child(3){
    color: violet;
}
footer .follow .icon a:nth-child(4){
    color: red;
}
footer .follow .icon a i:hover{
    color: #97ffa7;
    transform: scale(1.3);
}
footer .copyright{
width: 100%;
padding: 0 625px;
}


#Shop .title{
    font-size: 2.25rem;
    text-align: center;
}

#Shop .subtitle{
    margin-bottom: 3rem;
    text-align: center;
}
.subtitle a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}
.subtitle a:hover {
 color:rgb(73, 170, 138);
}
#Shop .subtitle span{
    color: orangered;
}
#Shop .shopcontainer{
    max-width: 850px;
    margin-left: auto;
    margin-right: 870px;
    grid-template-columns: 3fr 3.3fr;
}
#Shop .grid{
    display: grid;
    column-gap: 4rem;
}
#Shop .sidebar{
    padding: 1.8rem;
    height: 1100px;
    background-color: #fff;
   border-radius: 1rem; 
}

#Shop .filtertitle{
    font-size: 1.25rem;
    text-transform: uppercase;
}

#Shop .filtersubtitle{
    margin: 1.25rem 0 0.5rem;
    font-size: 1rem;
}

#Shop .filter{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: hsl(250, 8%, 35%);
    font-size: .875rem;
}

#Shop .filter p{
    flex: 0.8;
}

#Shop .filter input{
    margin-right: 0.75rem;
    cursor: pointer;
}
#product-list .hidden {
    display: none;
  }
#Shop .shopitems {
    grid-template-columns: repeat(3, 1fr);
    margin-right: -700px;
    grid: 1.6rem;
}
#Shop .shopcontent .hidden {
    display: none;
  }
#Shop .shopcontent{
    position: relative;
    background-color: #fff;
    padding: 2rem 5rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden;
    height: 440px; /* Set a fixed height */
    
}
#Shop .shopcontent .review {
    margin-bottom: 15px;
}
#Shop .shopimg{
    width: 200px;
    margin-bottom: 1rem;
    transition: 0.2s;
}
#Shop .smaller .shopimg{
    width: 170px;
}
#Shop .smaller1 .shopimg{
    width: 170px;
}
#Shop .smaller2 .shopimg{
    width: 150px;
}
#Shop .smaller3 .shopimg{
    width: 160px;
}
#Shop .smaller4 .shopimg{
    width: 180px;
}
#Shop .smaller5 .shopimg{
    width: 140px;
}

#Shop .shoptag{
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: orangered;
    color: #fff;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

#Shop .shoptitle{
    font-size:1.25rem ;
    font-weight: 500;
}

#Shop .shopsubtitle{
    display: block;
    font-size:.875rem ;
    margin-bottom: 1rem;
}

#Shop .shopprices{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

#Shop .shopprice{
    font-weight: 500;
    color: hsl(250, 8%, 15%);
}

#Shop .shopdiscounts{
    color: orangered;
    font-size:.813rem ;
    text-decoration: line-through;
    font-weight: 500;
}

#Shop .shopbutton{
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
    background-color: orangered;
    font-size: 1.25rem;
    transition: 0.2s;
    color: white;
}

#Shop .shopcontent:hover .shopimg{
    transform: translateY(-.5rem);
}
#Shop .shopcontent:hover .shopbutton{
    right: 0;
}


#Shop .pagination{
    display: flex;
    align-items: center;
    color: #383838;
    padding: 30px 350px;
    border-radius: 6px;
}
#Shop ul{
    margin: 20px 30px;
}
#Shop ul li{
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
    background-position: 0 -45px;
    transition: background-position 0.5s;
}
#Shop ul li.active{
color: #fff;
background-image: linear-gradient(#ff4568,#ff4568);
background-repeat: no-repeat;
background-position: 0 0;
}
#Shop .btn1, .btn2{
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #383838;
    background:transparent ;
    outline: none;
    border: none;
    cursor: pointer;
}

#Shop .btn1 img{
    width: 30px;
    margin-right: 15px;
    transform: rotate(180deg);
}
#Shop .btn2 img{
    width: 30px;
    margin-left: 15px;
}
#Shop .pagination .link{
    text-decoration: none;
    color: inherit;
}



#Detail .title {
    font-size: 2.25rem;
    text-align: center;
}
#Detail .subtitle {
    margin-bottom: 3rem;
    text-align: center;
}
#Detail .subtitle span {
    color: orangered;
}

#Detail .grid{
    display: grid;
    column-gap: 5rem;
}
#Detail .detailcontainer{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 10rem;
    max-width: 968px;
    margin-left: 325px;
    margin-right: auto;
    
}
#Detail .productimg{
    background-color: #fff;
    padding: 1.8rem 0;
    display: flex;
    justify-content: center;
   
    border-radius: 15px ;
    position: relative;
    cursor: pointer;
}
#Detail .detailimg-tag{
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: orangered;
    color: #fff;
    font-size: .875rem;
    padding:.16rem .5rem ;
    border-radius: .25rem;
}
#Detail .detailimg{
    width: 250px;
}
#Detail .detailsubtitle{
    font-size: .875rem;
    color:hsl(250, 8%, 35%);
    margin-bottom: .5rem;
}
#Detail .detailtitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
#Detail .review{
display: flex;
align-items: center;
column-gap: 0.3rem;
margin-bottom: 1rem;
}
#Detail .review span{
    font-size:.875rem ;
}
#Detail .review i {
    margin-right: 1rem;
}
#Detail .detailprices{
display: inline-flex;
align-items: center;
column-gap: .8rem;
margin-bottom: 0.5rem;
}
#Detail .detailprice{
    font-weight: 500;
    color: hsl(250, 8%, 15%);
    font-size: 1.25rem;
}
#Detail .detaildiscount{
    color: orangered;
    text-decoration: line-through;
    font-weight: 500;
}
#Detail .discountprecentage{
    background-color: hsl(250, 8%, 15%);
    padding: .25rem .40rem;
    font-size: .813rem;
    color: #fff;
}
#Detail .descriptiondetail{
    margin-bottom: 2rem;
    font-size: .875rem;
}
#Detail .descriptiontitle{
    font-size: 1rem;
    margin-top: 1.5rem;
}

#Detail .cartamount{
    margin-bottom: 2rem;
 
}
#Detail .cartamount-box{
display: inline-flex;
padding: 10px 20px;
cursor: pointer;
}
#Detail .fa-times::before{
padding: 0px 1500px;
font-size: 40px;
position: fixed;
    z-index: 999;
    color: grey;
}
#Detail .fa-times:hover::before{
    color: black;
}

#Detail button {
    border-radius: 30px;
    border: 0;
    background-color: orangered;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  display: block;
  margin-left: 110px;
  margin-top: 5%;
  transition: 0.3s
  }
  #Detail button:hover{
      transform: scale(1.05);
  }
  #Detail button a{
      display: inline-block;
      text-decoration: none;
      color: white;
      transition:  0.2s;
      cursor: pointer;
  }
  #Detail button:hover a{
      color: black;
  }
 #Detail .selectsize{
display: block;

margin-top: 15px;
 }

 #FAQHelp .title {
    font-size: 2.25rem;
    text-align: center;
}
#FAQHelp .subtitle {
    margin-bottom: 3rem;
    text-align: center;
}
#FAQHelp .subtitle span {
    color: orangered;
}

#FAQHelp .grid{
    display: grid;
    
}
#FAQHelp .section{
    padding: 7rem 0 2rem;
}
#FAQHelp .container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
#FAQHelp .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    align-items: flex-start;
}
#FAQHelp .questiongroup{
    display: grid;
    row-gap: 2rem;
}
#FAQHelp .questionitem{
    background-color: #fff;
    border-radius: .25rem;
}
#FAQHelp .questionitem-title{
    font-size: .925rem;
    font-weight: 500;
}
#FAQHelp .icon{
    font-size: 1.25rem;
    color: hsl(250, 8%, 15%);
}
#FAQHelp .description{
    font-size: 0.875rem;
    padding: 0 3.5rem 2.25rem 2.75rem;
}
#FAQHelp .header{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .6rem;
    cursor: pointer;
}
#FAQHelp .content{
    overflow: hidden;
    height: 0;
}
#FAQHelp .questionitem,
         .questionitem-title,
         .header, 
         .content,
         .description,
         .icon{
            transition: 0.2s;
         }
/*rotate icon, change color of title and background for js*/
.accordion-open .header,
.accordion-open .content{
    background-color: orangered;
}
.accordion-open .questionitem-title,
.accordion-open .description,
.accordion-open .icon{
    color: #fff;
}
.accordion-open .icon{
    transform: rotate(45deg);
}
#contactus .title {
    font-size: 2.25rem;
    text-align: center;
}
#contactus .subtitle {
    margin-bottom: 3rem;
    text-align: center;
}
#contactus .subtitle span {
    color: orangered;
}
#contactus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contactus .details{
    width: 40%;
}

#contactus .details span{
    font-size: 12px;
}
#contactus .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contactus .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contactus .details li{
    list-style:none ;
    display: flex;
    padding: 10px 0;
}
#contactus .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contactus .details li p{
  margin: 0;
  font-size: 14px;
}
#contactus .map{
    width: 55%;
    height: 400px;
}
#contactus .map iframe{
    width: 100%;
    height: 100%;
}

#message .messagebox{
    background: beige;
    display: flex;
}
#message  .messleft{
    flex-basis: 60%;
    padding: 40px 60px;
}
#message  .messright{
    flex-basis: 40%;
    padding: 40px ;
    background:#1c00b5 ;
    color: #fff;
}
#message .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#message .input-row .input-group{
flex-basis: 45%;
}
#message input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 8px;
    padding-top: 8px;
}
#message textarea{
width: 100%;
border: 1px solid #ccc;
outline: none;
padding: 10px;
box-sizing: border-box;
}
#message label {
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
#message button{
    background: #1c00b5;
    width:100px ;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    margin-top: 40px;
    position: relative; 
    left: calc(100% - 420px); /* Adjust left position */
    transition: 0.2s;
}
#message button:hover{
    transform: scale(1.05);
}
#message .messleft h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
#message .messright h3{
    font-weight: 600;
    margin-bottom: 30px;
}
#message tr td:first-child{
    padding-right: 45px;
}
#message tr td{
    padding-top: 30px;
}

#container{
    background-color:#fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    left: calc(20% + 100px);
   
}
#container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
#container span{
    font-size: 12px;
}
#container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
#container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight:600 ;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}
#container button:hover{
    transform: scale(1.05);
}
#container button.hidden{
    background-color: transparent;
    border-color: #fff;
}
#container  form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
#container input{
    background-color: #eee;
    border:none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
#container .form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

#container .log-in{
   left: 0;
   width: 50%;
   z-index: 2;
}
#container.active .log-in{
    transform: translateX(100%);
}
#container .log-inn{
    left: 0;
    width: 50%;
    z-index: 2;
 }
 #container.active .log-inn{
     transform: translateX(100%);
 }
#container .sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
#container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 0;
        z-index: 5;
    }
}
#container .social-icon{
    margin: 20px 0;
}
#container .social-icon a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
#container .toggle-container{
    position: absolute;
    top: -20px;
     left: 50%;
     width: 50%;
     height: 110%;
     overflow: hidden;
     transition: all 0.6s ease-in-out;
     border-radius:150px 0 0 100px ;
     z-index: 990;
}
#container.active .toggle-container{
    transform: translateX(-100%);
    border-radius:0 150px 100px 0 ;
}
#container .toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right,#5c6bc0, #512da8) ;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
#container.active .toggle{
    transform: translateX(50%);
}
#container .toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
#container .toggle-left{
    left: -30px;
   transform: translateX(-200%);
}
#container.active .toggle-left{
    transform: translateX(0);
}
#container .toggle-right{
    right: -30px;
    transform: translateX(0);
 }
 #container.active .toggle-right{
    transform: translateX(200%);
}
#container .input-box{
    width: 110%;
    align-items: center;
    max-width: 500px;
    border-radius: 5px;
  padding: 20px 10px;
  display: flex;
  margin-top: -10px;
  margin-right: 50px;
}
#container .input-box img {
    background: transparent;
    width: 20px;
    cursor: pointer;
}
#container .input-box1{
    width: 110%;
    align-items: center;
    max-width: 500px;
    border-radius: 5px;
  padding: 0px 10px;
  display: flex;
  margin-top: -10px;
  margin-right: 50px;
}
#container .input-box1 img {
    background: transparent;
    width: 20px;
    cursor: pointer;
}
#container .input-box3{
    width: 110%;
    align-items: center;
    max-width: 500px;
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
    margin-right: 70px;
}
#container .input-box4{
    width: 110%;
    align-items: center;
    max-width: 500px;
    border-radius: 5px;
    display: flex;
    margin-top: 10px;

}
#container .input-box4 img {
    background: transparent;
    width: 20px;
    cursor: pointer;
}
#wms{
    position:absolute;
    top: 340px;
    right: 220px;
    color: #000000;
    font-size: 15px;
    display: none;
}
#wms1{
    position:absolute;
    top: 256px;
    right: 240px;
    color: #000000;
    font-size: 15px;
    display: none;
}
#container .field input:focus{
    border-bottom: 3px solid #512da8;
}
#container  .button input{
    height: 45px;
    background: #512da8;
    font-size: 17px;
    color: #fff;
    border: none;
    margin-top: 13px;
    cursor: pointer;
    transition: 0.2s;
} 
#container  .button input:hover{
    background: #512da8;
    transform: scale(1.05);
}


#container form .error-txt{
    color: #b38085;
    background: #f8dad7;
    text-align: center;
    padding: 6px 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}
#container form .name-details{
    display: flex;
}
#container .name-details .field:first-child{
    margin-right: 20px;
}
#container .name-details .field:last-child{
    margin-left: 20px;
}
.loading-animation{
    position: absolute;
    display: none;
    padding: 30px 36rem;
    border-radius: 5px;
    background: transparent;
    z-index: 995;
    margin-top: 180px;
    gap: 5px;
}
.loading-dots{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background:#512da8;
    margin-bottom: 3px;
    opacity: 0.7;
    animation: animate 1s var(--delay) ease-in-out infinite;
}
@keyframes animate{
    0%,44%{
        transform: translateY(0px);
    }
    28%{
        opacity: 0.4;
        transform: translateY(-6px);
    }
    48%{
        opacity: 0.2;
    }
}





.home{
    background: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.home h1{
    font-size: 50px;
    font-weight: 600;
}
.home h1 span{
    color: #512da8;
}
.home a{
    display: inline-block;
    font-size: 20px;
    padding: 7px 25px;
    background: #512da8;
    color: #fff;
    border-radius: 10px;
    margin: 0px 5px;
    transition: 0.2s;
}
.home a:hover{
    background: #7841c0;
    transform: scale(1.05);
}






#storie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
 .blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 40px;
}
.blog-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
 .blog-text{
    padding: 50px;
    display: flex;
    flex-direction: column;
   
}
 .blog-text span{
    color: orangered;
    font-size: 0.9rem;
    margin-bottom: 20px;
    
}
 .blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    margin-bottom: 10px;
}
 .blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
 .blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px ;
}
 .blog-text a{
    color: #000000;
    text-decoration: none;
}
.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s; 
}

#readmore2 .write .flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
#readmore2 .write p {
    margin-bottom: 50px;
}
#readmore2 .write h1 {
    margin-bottom: 30px;
}
#readmore2 .write h3 {
    margin-bottom: 50px;
}
#readmore2 .write h2 {
    margin-bottom: 30px;
}
#readmore2 .write .flex-container h5,
#readmore2 .write .flex-container h3,
#readmore2 .write .flex-container p {
    margin: 0;
}
#readmore2 .write .flex-container h5,
#readmore2 .write .flex-container h3 {
    margin-right: 10px;
}


.barcontainer {
    padding: 0 500px ;
    margin-bottom: 50px;
}
 
#searchbar form {
   width: 100%;
   border: 1px solid rgb(82, 74, 235);
   border-radius: 4px;
   display: flex;
   flex-direction: row;
   align-items: center;
}
#searchbar form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
}
#searchbar form i{
    padding-left: 10px;
}





.theme-blue {
    color: #427bb8;
  }
 
  .theme-background-white {
    background-color: #fff;
    color: #4c4c4c;
  }
  .donate-bar {
    padding: 32px 23px 28px;
  }
  .donate-bar > div:first-child {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border-right: 1px dotted #2a4f76;
    margin-top: 19px;
    font-size: 25px;
    padding: 20px 750px;
  }
  .donate-buttons>li>a {
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 10px 3px;
    border-radius: 5px;
  }
  .btn-blue-other,
  .btn-blue {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: #427bb8;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
    width: 120px;
    height: 50px;
    margin-top: 8px;
  }
  .btn-green {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: #8ab042;
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 0;
    width: 114px;
    height: 37px;
    margin-top: 8px;
  }
  #other-input {
    display: none;
  }
  #other-input input {
    position: relative;
    font-weight: bold;
    background-color: #fff;
    color: #427bb8;
    border-radius: 5px;
    border: 0;
    border: 5px solid #427bb8;
    padding: 0 0 3px 15px;
    width: 75px;
    height: 37px;
    margin: 18px 3px 0;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   margin: 0; 
  }
  #other-input span {
    font-family: inherit;
    font-weight:bold;
    color: #427bb8;
    position: absolute;
    padding: 23px 12px;
    z-index: 10;
    pointer-events: none;
  }
  .impact {
    font-size: 1.1em;
    font-weight: bold;
    clear: both;
  }
  .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
  }
  .donate-buttons .active:hover {
    background-color: #fff;
    border: 5px solid #427bb8;
    color: #427bb8;
  }
  .donate-buttons:focus {
  outline: -webkit-focus-ring-color auto 0px;
  }
  .donate-buttons li:last-child {
    font-size: 17px;
    line-height: 37px;
    padding-left: 20px;
    padding-top: 15px;
  }
  .col-md-8{
    padding: 20px 200px;
  }

.sc-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sc-container img{
    width: 200px;
    margin: 2rem 0;
}
.sc-container h1{
    font-size: 2.8rem;
    margin-bottom: 10px;
}
.sc-container p{
    max-width: 600px;
    font-size: 0.970rem;
    text-align: center;
    margin: 0.5rem 0;
}
.sc-btn{
    padding: 12px 20px;
    border-radius: 2rem;
    background: #512da8;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}
